*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #0C7B93;
}

/* Hero Section */
#hero-section{
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100vw;
    position: relative;
}

#hero-section div{
    position: absolute;
    bottom: 2.813rem;
    left: 0;
    right: 0;
    margin: auto;
}

#titulo-principal{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#hero-section:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#hero-section h1,
#hero-section img{
    position: relative;
}

#card-op{
    background-color: #27496D;
}

.card-title{
    font-weight: 500;
}

.card-text{
    font-weight: 300;
}

/* Modal */

#modal-img{
    width: 28rem;
    object-fit: cover;
}

#modal-img-mod{
    width: 20rem;
    height: 26rem;
    object-fit: cover;
}

/* Footer */

footer{
    background-color: #142850;
    padding-top: .5rem;
    padding-bottom: .3rem;
    width: 100vw;
}

footer img{
    width: 7rem;
}

#footer a{
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 768px) {
    #card-op{
        width: 16.5rem !important;

    }
}